<h2>New Reservation</h2>

<%= form_with(model: @reservation, local: true) do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% @reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :number_of_guests %>
    <%= form.select :number_of_guests, options_for_select(1..(@room.capacity), params.dig(:reservation, :number_of_guests)) %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.select :room_id, options_for_select({@room.code => @room.id}) %>
  </div>

  <div class="field">
    <%= form.label :guest_name %>
    <%= form.text_field :guest_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', :back %>
