<h2>New Reservation</h2>

<%= form_tag search_reservations_path, method: :get do %>
  <div class="field">
    <%= label_tag :start_date, 'From' %>
    <%= date_field_tag :start_date, params[:start_date] || Date.today %>
  </div>

  <div class="field">
    <%= label_tag :end_date, 'To' %>
    <%= date_field_tag :end_date, params[:end_date] || Date.tomorrow %>
  </div>

  <div class="field">
    <%= label_tag :number_of_guests, 'Number of guests' %>
    <%= select_tag :number_of_guests, options_for_select(1..10, params[:number_of_guests]) %>
  </div>

  <div class="actions">
    <%= submit_tag 'Search for Available Rooms' %>
  </div>
<% end %>

<% if @should_show_results %>
  <section class="listing">
    <h3>Available Rooms</h3>

    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Capacity</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% if @available_rooms.any? %>
          <% @available_rooms.each do |room| %>
            <tr>
              <td><%= room.code %></td>
              <td><%= pluralize(room.capacity, 'person', 'people') %></td>
              <td>
                <%= link_to 'Create Reservation', new_reservation_path( reservation: {
                  room_id: room.id,
                  start_date: params[:start_date],
                  end_date: params[:end_date],
                  number_of_guests: params[:number_of_guests],
                }) %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <td colspan="7">There are no available rooms for the selected filters.</td>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>

<br/>

<%= link_to 'Back', root_path %>
